body{
font-family: Arial;
text-align:center;
background:white;
}

.container{
margin-top:50px;
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px;
margin:5px;
cursor:pointer;
}

.hidden{
display:none;
}

.dark{
background:black;
color:white;
}